<div class="form-container">
  <mat-toolbar color="primary" class="form-header">
    Cadastrar Produto
  </mat-toolbar>

  <form [formGroup]="form" (ngSubmit)="cadastrarProduto()" class="form-content">

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nome Produto</mat-label>
      <input matInput formControlName="nome">
      <mat-error *ngIf="form.get('nome')?.hasError('required')">
        Campo obrigatório
      </mat-error>
      <mat-error *ngIf="form.get('nome')?.hasError('minlength')">
        Mínimo de 3 caracteres
      </mat-error>
      <mat-error *ngIf="form.get('nome')?.hasError('maxlength')">
        Máximo de 20 caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Informe o valor do Produto</mat-label>
      <input matInput formControlName="valor">
      <mat-error *ngIf="form.get('valor')?.hasError('required')">
        Campo obrigatório
      </mat-error>
      <mat-error *ngIf="form.get('valor')?.hasError('minlength')">
        Mínimo de 3 caracteres
      </mat-error>
      <mat-error *ngIf="form.get('valor')?.hasError('maxlength')">
        Máximo de 20 caracteres
      </mat-error>
    </mat-form-field>

    <div class="form-buttons">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || (criarProduto$ | async)">
        <ng-container *ngIf="!(criarProduto$ | async); else spinner">Salvar</ng-container>
        <ng-template #spinner>
          <mat-progress-spinner
            mode="indeterminate"
            diameter="100"
            class="button-spinner">
          </mat-progress-spinner>
        </ng-template>
      </button>
      <button mat-raised-button color="accent" routerLink="/listar-produtos">
        Voltar
      </button>
    </div>

  </form>
</div>